# -*- coding: utf-8 -*-
# Copyright 2014 TIS Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
http_interactions:
- request:
    method: get
    uri: https://raw2.github.com/cloudconductor/chef-parameters/master/chef_runlist_apache.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Source-Age:
      - '150'
    body:
      encoding: UTF-8
      string: |
        {
          "setup": [
            "recipe[iptables::disabled]",
            "recipe[selinux::disabled]",
            "recipe[lxmx_hostname]",
            "recipe[apache2]",
            "recipe[apache2::mod_proxy]",
            "recipe[apache2::mod_proxy_http]",
            "recipe[cc-zabbix]",
            "recipe[cc-nsupdate]"
          ],
          "configure": [
          ],
          "deploy": [
            "recipe[cc-deploy::reverse_proxy]"
          ],
          "undeploy": [
          ]
        }
  recorded_at: Fri, 14 Mar 2014 06:01:40 GMT
- request:
    method: get
    uri: https://raw2.github.com/cloudconductor/chef-parameters/master/chef_attr_apache.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        {
          "setup": {
            "apache" : {
              "default_site_enabled" : "true",
              "proxy": {
                "allow_from": "all"
              }
            }
          },
          "deploy": {
            "web": {
              "type": "apache"
            },
            "application": {
              "default": {
                "type": "java"
              }
            },
            "database": {
              "type": "postgresql",
              "root_username": "postgres",
              "root_password": "T6YgSkTT6NcvQhQx"
            }
          }
        }
  recorded_at: Fri, 14 Mar 2014 06:01:41 GMT
- request:
    method: get
    uri: https://raw2.github.com/cloudconductor/chef-parameters/master/chef_runlist_tomcat.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        {
          "setup": [
            "recipe[iptables::disabled]",
            "recipe[selinux::disabled]",
            "recipe[lxmx_hostname]",
            "recipe[tomcat]",
            "recipe[cc-zabbix]",
            "recipe[cc-nsupdate]"
          ],
          "configure": [
          ],
          "deploy": [
            "recipe[cc-deploy::application]"
          ],
          "undeploy": [
          ]
        }
  recorded_at: Fri, 14 Mar 2014 06:01:42 GMT
- request:
    method: get
    uri: https://raw2.github.com/cloudconductor/chef-parameters/master/chef_attr_tomcat.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        {
          "setup": {
            "tomcat": {
              "keytool":"/usr/lib/jvm/java-1.6.0/bin/keytool"
            }
          },
          "deploy": {
            "web": {
              "type": "apache"
            },
            "application": {
              "default": {
                "type": "java"
              }
            },
            "database": {
              "type": "postgresql",
              "root_username": "postgres",
              "root_password": "T6YgSkTT6NcvQhQx"
            }
          }
        }
  recorded_at: Fri, 14 Mar 2014 06:01:43 GMT
- request:
    method: get
    uri: https://raw2.github.com/cloudconductor/chef-parameters/master/chef_runlist_postgresql.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        {
          "setup" : [
            "recipe[iptables::disabled]",
            "recipe[selinux::disabled]",
            "recipe[lxmx_hostname]",
            "recipe[postgresql::server]",
            "recipe[cc-zabbix]",
            "recipe[cc-nsupdate]"
          ],
          "configure": [
          ],
          "deploy": [
            "recipe[cc-deploy::database]"
          ],
          "undeploy": [
          ]
        }
  recorded_at: Fri, 14 Mar 2014 06:01:43 GMT
- request:
    method: get
    uri: https://raw2.github.com/cloudconductor/chef-parameters/master/chef_attr_postgresql.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Source-Age:
      - '723'
    body:
      encoding: UTF-8
      string: |
        {
          "setup": {
            "postgresql": {
              "version": "9.3",
              "password": {
                "postgres": "T6YgSkTT6NcvQhQx"
              },
              "enable_pgdg_yum": "true",
              "config": {
                "ssl": "false",
                "listen_addresses": "*"
              },
              "pg_hba": [
                {
                  "type": "host",
                  "db": "all",
                  "user": "all",
                  "addr": "0.0.0.0/0",
                  "method": "md5"
                },
                {
                  "type": "host",
                  "db": "all",
                  "user": "all",
                  "addr": "::1/128",
                  "method": "md5"
                }
              ]
            }
          },
          "deploy": {
            "web": {
              "type": "apache"
            },
            "application": {
              "default": {
                "type": "java"
              }
            },
            "database": {
              "type": "postgresql",
              "root_username": "postgres",
              "root_password": "T6YgSkTT6NcvQhQx"
            }
          }
        }
  recorded_at: Fri, 14 Mar 2014 06:01:44 GMT
- request:
    method: get
    uri: https://raw2.github.com/cloudconductor/chef-parameters/master/chef_runlist_zabbix.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Source-Age:
      - '150'
    body:
      encoding: UTF-8
      string: |
        {
          "setup": [
            "recipe[iptables::disabled]",
            "recipe[selinux::disabled]",
            "recipe[lxmx_hostname]",
            "recipe[cc-bind]",
            "recipe[cc-nsupdate]",
            "recipe[cc-zabbix]",
            "recipe[cc-zabbix::server]",
            "recipe[cc-zabbix::web]",
            "recipe[cc-zabbix::import_templates]",
            "recipe[cc-zabbix::create_hostgroups]",
            "recipe[cc-zabbix::create_actions]"
          ],
          "configure": [
          ],
          "deploy": [
          ],
          "undeploy": [
          ]
        }
  recorded_at: Fri, 14 Mar 2014 06:01:44 GMT
- request:
    method: get
    uri: https://raw2.github.com/cloudconductor/chef-parameters/master/chef_attr_zabbix.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        {
          "setup": {
            "postgresql": {
              "version": "9.3",
              "enable_pgdg_yum": true,
              "initdb_locale": "no_locale",
              "password": {
                "postgres": "eKgzpUW0p87WkGGF"
              }
            }
          },
          "deploy": {
          }
        }
  recorded_at: Fri, 14 Mar 2014 06:01:44 GMT
- request:
    method: post
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/keys
    body:
      encoding: US-ASCII
      string: name=cloudconductor_96
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - http://127.0.0.1:9292/api/keys/cloudconductor_96
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - e4acb21f0d90263e97be5f5af5f7028b
    body:
      encoding: UTF-8
      string: "{\"key\":{\"id\":\"cloudconductor_96\",\"href\":\"http://127.0.0.1:9292/api/keys/cloudconductor_96\",\"credential_type\":\"key\",\"username\":null,\"password\":null,\"state\":\"AVAILABLE\",\"pem_rsa_key\":\"-----BEGIN
        RSA PRIVATE KEY-----\\nMIIEowIBAAKCAQEA4Iv6B1disoaCukrutSLIWD/zxt+xRi980q7DAnkv5v+Pqwpm\\nZ+O1VM4Kgvyax7l1jgbry9pduOhR60zbMYDQrAXNEnmPXWVK9xoI6heLFQbllsKU\\nLczuroP6YN+GkrW4n3uQpQw7wO0491rRoo4IryXquDUI+V5LdYD3gDx4yi62RmH1\\nXPdpK0Cb3VCjJtggePojnjTBcBHnD/J2tUr/cPzFcJN96n32KhgWY4YjwNeMygO6\\nJOjAuCREP7ZkOtFSt+bepNegDLUdyf3EmsvtsHdDEtEKwkYKLXJJg3F6D+NPSo0A\\nD74fefmZnLz1InQXTi6f865GyMWi6tSQRRacDQIBIwKCAQEArTjIMYyN928UY9Nn\\nsE4IRBQT0+5kLtQtF44haE7bz3SwqIRdoJm3xRP5ev1hdYBwoMOCsz[...]
- request:
    method: post
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/networks
    body:
      encoding: US-ASCII
      string: name=Network%20Group%20for%20New%20System&address_block=10.0.0.0%2F24
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - 98a712f58124f88e1f67efca2e239a5a
    body:
      encoding: UTF-8
      string: "{\"network\":{\"id\":\"5777f278-b7cd-46d9-9445-cddab2e8084b\",\"name\":\"Network
        Group for New System\",\"href\":\"http://127.0.0.1:9292/api/networks/5777f278-b7cd-46d9-9445-cddab2e8084b\",\"state\":\"UP\",\"address_blocks\":[],\"subnets\":[]}}"
  recorded_at: Fri, 14 Mar 2014 06:01:48 GMT
- request:
    method: get
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/gateways
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Runtime:
      - '0.254644805'
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - bf7bc16a7ed7f0d3e360e46fbc347913
    body:
      encoding: UTF-8
      string: "{\"gateways\":[{\"id\":\"4b34490b-44a1-40d0-950f-3be16ada9d49\",\"name\":\"router\",\"href\":\"http://127.0.0.1:9292/api/subnets/4b34490b-44a1-40d0-950f-3be16ada9d49\",\"state\":\"ACTIVE\",\"network\":{\"id\":\"aff7b9db-cd7c-4522-a7ae-c6e95b02b7c9\",\"href\":\"http://127.0.0.1:9292/api/networks/aff7b9db-cd7c-4522-a7ae-c6e95b02b7c9\"}}]}"
  recorded_at: Fri, 14 Mar 2014 06:01:48 GMT
- request:
    method: get
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/networks/aff7b9db-cd7c-4522-a7ae-c6e95b02b7c9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Runtime:
      - '0.270688747'
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - 27be47682d5cdaaef3257d3e36ae6e4c
    body:
      encoding: UTF-8
      string: "{\"network\":{\"id\":\"aff7b9db-cd7c-4522-a7ae-c6e95b02b7c9\",\"name\":\"public\",\"href\":\"http://127.0.0.1:9292/api/networks/aff7b9db-cd7c-4522-a7ae-c6e95b02b7c9\",\"state\":\"UP\",\"address_blocks\":[\"192.168.166.0/24\"],\"subnets\":[{\"id\":\"18d4492f-9c72-46a1-bbe0-bbe7e83135bd\",\"href\":\"http://127.0.0.1:9292/api/subnets/18d4492f-9c72-46a1-bbe0-bbe7e83135bd\"}]}}"
  recorded_at: Fri, 14 Mar 2014 06:01:48 GMT
- request:
    method: post
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/subnets
    body:
      encoding: US-ASCII
      string: name=private%20network%20group%201&network_id=5777f278-b7cd-46d9-9445-cddab2e8084b&address_block=10.0.0.0%2F24
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - ce1518dfcff839189126d27440bc35fe
    body:
      encoding: UTF-8
      string: "{\"subnet\":{\"id\":\"3567501b-7b4e-4200-a2db-de0f819e219a\",\"name\":\"\",\"href\":\"http://127.0.0.1:9292/api/subnets/3567501b-7b4e-4200-a2db-de0f819e219a\",\"type\":null,\"state\":\"UP\",\"address_block\":\"10.0.0.0/24\",\"network\":{\"id\":\"5777f278-b7cd-46d9-9445-cddab2e8084b\",\"href\":\"http://127.0.0.1:9292/api/networks/5777f278-b7cd-46d9-9445-cddab2e8084b\"}}}"
  recorded_at: Fri, 14 Mar 2014 06:01:49 GMT
- request:
    method: post
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/gateways
    body:
      encoding: US-ASCII
      string: name=Internet%20Gateway%20for%20New%20System
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - 57bab5ba1ed13aa3d31b61a7410c62f1
    body:
      encoding: UTF-8
      string: "{\"gateway\":{\"id\":\"0e941a60-0589-4b73-be95-e7958c755318\",\"name\":\"Internet
        Gateway for New System\",\"href\":\"http://127.0.0.1:9292/api/subnets/0e941a60-0589-4b73-be95-e7958c755318\",\"state\":\"ACTIVE\",\"network\":null}}"
  recorded_at: Fri, 14 Mar 2014 06:01:50 GMT
- request:
    method: put
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/gateways/0e941a60-0589-4b73-be95-e7958c755318/attach
    body:
      encoding: US-ASCII
      string: network_id=5777f278-b7cd-46d9-9445-cddab2e8084b
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 303
      message: See Other
    headers:
      Content-Type:
      - application/json
      Location:
      - http://127.0.0.1:9292/api/gateways/0e941a60-0589-4b73-be95-e7958c755318
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Mar 2014 06:01:52 GMT
- request:
    method: get
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/gateways/0e941a60-0589-4b73-be95-e7958c755318
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Runtime:
      - '0.423525935'
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - 5fb45971485c2d64747464c7e39ed42b
    body:
      encoding: UTF-8
      string: "{\"gateway\":{\"id\":\"0e941a60-0589-4b73-be95-e7958c755318\",\"name\":\"Internet
        Gateway for New System\",\"href\":\"http://127.0.0.1:9292/api/subnets/0e941a60-0589-4b73-be95-e7958c755318\",\"state\":\"ACTIVE\",\"network\":{\"id\":\"aff7b9db-cd7c-4522-a7ae-c6e95b02b7c9\",\"href\":\"http://127.0.0.1:9292/api/networks/aff7b9db-cd7c-4522-a7ae-c6e95b02b7c9\"}}}"
  recorded_at: Fri, 14 Mar 2014 06:01:52 GMT
- request:
    method: put
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/gateways/0e941a60-0589-4b73-be95-e7958c755318/add_interface
    body:
      encoding: US-ASCII
      string: subnet_id=3567501b-7b4e-4200-a2db-de0f819e219a
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Mar 2014 06:01:53 GMT
- request:
    method: get
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/firewalls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Runtime:
      - '0.374955569'
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - 606834606abc1483f0193e8218911186
    body:
      encoding: UTF-8
      string: "{\"firewalls\":[{\"id\":\"521d0606-aae8-4bb5-9859-7c8483cab79e\",\"href\":\"http://127.0.0.1:9292/api/firewalls/521d0606-aae8-4bb5-9859-7c8483cab79e\",\"name\":\"default\",\"description\":\"default\",\"owner_id\":\"c7fd4726c2724ca29e93c23fd3f2e019\",\"rules\":[{\"id\":\"0dccf46f-8662-4784-9753-7d13003fb7ee\",\"allow_protocol\":\"all\",\"sources\":[{\"type\":\"group\",\"name\":\"521d0606-aae8-4bb5-9859-7c8483cab79e\",\"owner\":\"c7fd4726c2724ca29e93c23fd3f2e019\"}],\"direction\":\"ingress\"},{\"id\":\"1dec42b9-68e5-4980-aed8-fa0fd736f9be\",\"allow_protocol\":\"udp\",\"port_from\":1,\"port_to\":65535,\"sources\":[{\"type\":\"address\",\"family\":\"IPv4\",\"address\":\"0.0.0.0\",\"prefix\":\"0\"}],\"direction\":\"ingress\"},{\"id\":\"6e3c21aa-f92e-426c-bafd-0d29f065f4fd\",\"allow_protocol\":\"all\",\"sources\":[{\"type\":\"address\",\"family\":\"IPv4\",\"address\":\"0.0.0.0\",\"prefix\":\"0\"}],\"direction\":\"egress\"},{\"id\":\"6e6c65fc-322b-41e6-9175-ac04f5e797f4\",\"allow_protocol\":\"tcp\",\"port_from\":1,\"port_to\":65535,\"sources\":[{\"type\":\"address\",\"family\":\"IPv4\",\"address\":\"0.0.0.0\",\"prefix\":\"0\"}],\"direction\":\"egress\"},{\"id\":\"6fc2b189-715d-4438-af2e-88108340433e\",\"allow_protocol\":\"all\",\"sources\":[{\"type\":\"address\",\"family\":\"IPv6\",\"address\":\"::\",\"prefix\":\"0\"}],\"direction\":\"egress\"},{\"id\":\"70f1cffb-2811-47b3-bc9b-09e8526f241c\",\"allow_protocol\":\"tcp\",\"port_from\":1,\"port_to\":65535,\"sources\":[{\"type\":\"address\",\"family\":\"IPv4\",\"address\":\"0.0.0.0\",\"prefix\":\"0\"}],\"direction\":\"ingress\"},{\"id\":\"a794dbfe-83ed-41e3-a705-2655c2430119\",\"allow_protocol\":\"all\",\"sources\":[{\"type\":\"group\",\"name\":\"521d0606-aae8-4bb5-9859-7c8483cab79e\",\"owner\":\"c7fd4726c2724ca29e93c23fd3f2e019\"}],\"direction\":\"ingress\"},{\"id\":\"cd16664c-e992-42db-b631-f36613fde18b\",\"allow_protocol\":\"udp\",\"port_from\":1,\"port_to\":65535,\"sources\":[{\"type\":\"address\",\"family\":\"IPv4\",\"address\":\"0.0.0.0\",\"prefix\":\"0\"}],\"direction\":\"egress\"}]}]}"
  recorded_at: Fri, 14 Mar 2014 06:01:54 GMT
- request:
    method: post
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/firewalls
    body:
      encoding: US-ASCII
      string: name=web-server-g-1&description=This%20is%20Apache%20Web%20Server%20filter
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - http://127.0.0.1:9292/api/firewalls/181ff124-a72e-47cc-82d7-467790d098b3
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - 09902b6670e146a6b11d876c18024e12
    body:
      encoding: UTF-8
      string: "{\"firewall\":{\"id\":\"181ff124-a72e-47cc-82d7-467790d098b3\",\"href\":\"http://127.0.0.1:9292/api/firewalls/181ff124-a72e-47cc-82d7-467790d098b3\",\"name\":\"web-server-g-1\",\"description\":\"This
        is Apache Web Server filter\",\"owner_id\":\"c7fd4726c2724ca29e93c23fd3f2e019\",\"rules\":[{\"id\":\"f0b3504d-a953-45b2-b590-981d415ae988\",\"allow_protocol\":\"all\",\"sources\":[{\"type\":\"address\",\"family\":\"IPv4\",\"address\":\"0.0.0.0\",\"prefix\":\"0\"}],\"direction\":\"egress\"},{\"id\":\"76230be0-eae0-4962-b824-fb5b041f3145\",\"allow_protocol\":\"all\",\"sources\":[{\"type\":\"address\",\"family\":\"IPv6\",\"address\":\"::\",\"prefix\":\"0\"}],\"direction\":\"egress\"}]}}"
  recorded_at: Fri, 14 Mar 2014 06:01:54 GMT
[...]
- request:
    method: post
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/firewalls/181ff124-a72e-47cc-82d7-467790d098b3/rules
    body:
      encoding: US-ASCII
      string: protocol=tcp&port_from=80&port_to=80&direction=ingress&ethertype=IPv4&ip_address=0.0.0.0%2F0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 201
[...]
- request:
    method: get
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/firewalls/181ff124-a72e-47cc-82d7-467790d098b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Runtime:
      - '0.21[...]
[...]
- request:
    method: get
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/hardware_profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Runtime:
      - '0.328603969'
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - 700ab1264f0949e34ca92bc5c0db3497
    body:
      encoding: UTF-8
      string: "{\"hardware_profiles\":[{\"id\":\"1\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/1\",\"name\":\"m1.tiny\",\"properties\":{\"architecture\":\"x86_64\",\"memory\":\"512\",\"storage\":\"1\",\"cpu\":\"1\"}},{\"id\":\"2\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/2\",\"name\":\"m1.small\",\"properties\":{\"architecture\":\"x86_64\",\"memory\":\"2048\",\"storage\":\"20\",\"cpu\":\"1\"}},{\"id\":\"3\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/3\",\"name\":\"m1.medium\",\"properties\":{\"architecture\":\"x86_64\",\"memory\":\"4096\",\"storage\":\"40\",\"cpu\":\"2\"}},{\"id\":\"4\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/4\",\"name\":\"m1.large\",\"properties\":{\"architecture\":\"x86_64\",\"memory\":\"8192\",\"storage\":\"80\",\"cpu\":\"4\"}},{\"id\":\"5\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/5\",\"name\":\"m1.xlarge\",\"properties\":{\"architecture\":\"x86_64\",\"memory\":\"16384\",\"storage\":\"160\",\"cpu\":\"8\"}}]}"
  recorded_at: Fri, 14 Mar 2014 06:02:15 GMT
- request:
    method: get
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Runtime:
      - '0.933786898'
      X-Deltacloud-Driver:
      - openstack
      X-Deltacloud-Provider:
      - http://localhost:5000/v2.0/
      Etag:
      - b8e4827a3e1e17d0dd9e48537f601bf6
    body:
      encoding: UTF-8
      string: "{\"images\":[{\"id\":\"9d6fab15-ee08-41c3-af0f-abb160aa68d8\",\"href\":\"http://127.0.0.1:9292/api/images/9d6fab15-ee08-41c3-af0f-abb160aa68d8\",\"name\":\"CentOS
        6.5-TEST_1\",\"description\":\"CentOS 6.5-TEST_1\",\"owner\":\"demo\",\"architecture\":\"x86_64\",\"state\":\"ACTIVE\",\"root_type\":\"transient\",\"creation_time\":\"2014-02-17T04:03:58Z\",\"hardware_profiles\":[{\"id\":\"1\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/1\",\"rel\":\"hardware_profile\"},{\"id\":\"2\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/2\",\"rel\":\"hardware_profile\"},{\"id\":\"3\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/3\",\"rel\":\"hardware_profile\"},{\"id\":\"4\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/4\",\"rel\":\"hardware_profile\"},{\"id\":\"5\",\"href\":\"http://127.0.0.1:9292/api/hardware_profiles/5\",\"rel\":\"hardware_profile\"}]},{\"id\":\"7fab5407-1905-417f-9341-d7aa9dd1851c\",\"href\":\"http[...]
- request:
    method: get
    uri: https://raw.github.com/cloudconductor/zabbix-templates/release-0.2.0/zbx_os.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Git-Blob-Oid:
      - 0a9188002a4ac9e1a819df1badf5de49cc1c92ba
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - "\"024ed93a73e5f1bcb6da2cf9bb20379d\""
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHphYmJp
        eF9leHBvcnQ+CiAgICA8dmVyc2lvbj4yLjA8L3ZlcnNpb24+CiAgICA8ZGF0
        ZT4yMDE0LTAyLTIxVDA1OjM1OjM5WjwvZGF0ZT4KICAgIDxncm91cHM+CiAg
        ICAgICAgPGdyb3VwPgogICAgICAgICAgICA8bmFtZT5UZW1wbGF0ZXM8L25h
        bWU+CiAgICAgICAgPC9ncm91cD4KICAgIDwvZ3JvdXBzPgogICAgPHRlbXBs
        YXRlcz4KIC[...]
- request:
    method: get
    uri: https://raw.github.com/cloudconductor/zabbix-templates/release-0.2.0/zbx_apache.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Git-Blob-Oid:
      - 43517be234236f7ee981b6a4db956defeffa3bd5
      Co[...]
- request:
    method: get
    uri: https://raw.github.com/cloudconductor/zabbix-templates/release-0.2.0/zbx_tomcat.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Git-Blob-Oid:
      - e27e0f84bf76295c22bc02ec30233c47d0358fe8
      Co[...]
- request:
    method: get
    uri: https://raw.github.com/cloudconductor/zabbix-templates/release-0.2.0/zbx_postgresql.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Git-Blob-Oid:
      - d174167f7f5ea134bf87a7e4dabeceb5172b7629
    [...]
- request:
    method: post
    uri: http://demo%2Bdemo:demo@127.0.0.1:9292/api/instances
    body:
      encoding: US-ASCII
[...]
